body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #303030;
    background-color: #f0f0f0;
}

header {
    background-color: #f0f0f0;
    padding: 35px;
    text-align: center;
    color: #f0f0f0;
}

/* About me section */
.youtube-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: red;
}

.header-bg {
    background-image: url('Resources/Images/HeaderBackground.jpg');
    background-size: cover;
    background-position: center;
}

.about-me {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Project section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project {
    display: flex;
    max-width: 1100px;
    width: 95%;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project-image {
    flex: 1;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.project-description {
    flex: 2;
    padding: 20px;
}

.project-description h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-description h2 {
    margin-top: 15px;
    margin-bottom: 25px;
}

.project-description p {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Contact section */
.contact {
    background-color: #e0e0e0;
    text-align: center;
    padding: 20px 20px;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact p {
  margin-bottom: 30px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin: 10px 0;
}
